<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="professor in professors">
            <td><a ui-sref="rupp.professor({profId:professor._id})" ng-bind="professor.name"></a></td>
            <td ng-bind="professor.rating.overall | number: 2"></td>
        </tr>
    </tbody>
</table>
<pagination on-select-page="changePage(page)" total-items="count" page="page" max-size="10" class="pagination" boundary-links="true"></pagination>